- provide :title, "\u2B50 第一次"

.display
  .am-g.header
    = image_tag "#{ @record.category.name }.png", size: '80x80'
  .am-g.paper
    .am-cf
      %span.am-badge.am-text-sm.am-fr= @record.category.name
    .am-cf
      %span.date.am-text-sm.am-fr= @record.created_at.strftime '%-m月%-d日'
    - if @record.category.attr_name
      %h2= '第一次' + @record.attr_val
    %p= @record.text
    = image_tag "sticker#{ @record.sticker_id }.png", size: '36x36', class: 'am-margin-top'

    - unless @user && @record.user == @user
      .interaction.am-g.am-margin-top
        .am-u-sm-6.am-text-center
          = image_tag 'doneicon.png', class: 'am-img-responsive am-center'
          %p 做过
        .am-u-sm-6.am-text-center
          = image_tag 'likeicon.png', class: 'am-img-responsive am-center'
          %p 喜欢

  -#
    - if @user && @record.user == @user
      .am-g.footer
        .am-u-sm-4.am-text-center
          = image_tag 'recordicon.png', class: 'am-img-responsive am-center'
          %p 记录
        .am-u-sm-4.am-text-center
          = image_tag 'earthicon.png', class: 'am-img-responsive am-center'
          %p 搜索
        .am-u-sm-4.am-text-center
          = image_tag 'timeicon.png', class: 'am-img-responsive am-center'
          %p 回忆

:coffee
  wx.ready ->
    wx.showOptionMenu()

    unless #{ @record.image.empty? }
      wx.downloadImage
        serverId: '#{ @record.image }'
        isShowProgressTips: 0,
        success: (res) ->
          img = $('<img class="am-img-responsive">')
          img.attr('src', res.localId)
          $('.paper > p').after(img)

    title = '#{ "\u2B50" } 第一次#{ @record.attr_val }'
    desc = '#{ @record.text }'
    link = '#{ request.url.split('?')[0] + "?record_id=#{ @record.id }" }'
    imgUrl = '#{ asset_url 'earth-with-light.png' }'

    wx.onMenuShareTimeline
      title: title
      link: link
      imgUrl: imgUrl
    wx.onMenuShareAppMessage
      title: title
      desc: desc
      link: link
      imgUrl: imgUrl
    wx.onMenuShareQQ
      title: title
      desc: desc
      link: link
      imgUrl: imgUrl
    wx.onMenuShareWeibo
      title: title
      desc: desc
      link: link
      imgUrl: imgUrl
