- provide :title, "\u2B50 记录第一次"

.record
  .am-g.header
    = image_tag "#{ @record.category.name }.png", size: '80x80'
  .am-g.paper
    %h1 第一次
    = form_for @record, url: record_path, html: { class: 'am-form' } do |f|
      = hidden_field_tag :openid, params['openid']
      = f.hidden_field :user_id
      = f.hidden_field :category_id
      = f.hidden_field :sticker_id
      .am-form-group.am-form-icon{style: @record.category.attr_name.nil? ? 'display: none' : ''}
        %i.am-icon-pencil
        = f.text_field :attr_val, class: 'am-form-field', placeholder: '写一首情歌'
      .am-form-group
        = text_area :record, :text, rows: '10', placeholder: '详细说一说...'
      = f.hidden_field :image
      .am-form-group
        .am-u-sm-6.lg-icon
          = image_tag 'picicon.png', size: '48x36'
          = image_tag "sticker#{ @record.sticker_id }.png", size: '36x36'
        .am-u-sm-4.am-u-sm-offset-2.text-right
          %a.submit.am-btn.am-btn-block.am-round{href: 'javascript: void(0)'}
            %i.am-icon-check

  #modal-category.am-modal.am-modal-no-btn{tabindex: '-1'}
    .am-modal-dialog
      .am-modal-hd
        选择记录的类别
        %a.am-close.am-close-spin{href: 'javascript: void(0)', 'data-am-modal-close' => true} &times;
      .am-modal-bd
        .am-g
          - @categories.each do |category|
            .am-u-sm-4
              = image_tag "#{category.name}.png", size: '64x64', 'data-am-modal-close' => true,
                'data-id' => category.id, 'data-attr-name' => category.attr_name, 'data-placeholder' => category.placeholder
              %p.text-center= category.name

  #modal-sticker.am-modal.am-modal-no-btn{tabindex: '-1'}
    .am-modal-dialog
      .am-modal-hd
        记录此刻的心情
        %a.am-close.am-close-spin{href: 'javascript: void(0)', 'data-am-modal-close' => true} &times;
      .am-modal-bd
        .am-g
          .am-u-sm-4= image_tag 'sticker1.png', size: '64x64', 'data-id' => '1', 'data-am-modal-close' => true
          .am-u-sm-4= image_tag 'sticker2.png', size: '64x64', 'data-id' => '2', 'data-am-modal-close' => true
          .am-u-sm-4= image_tag 'sticker3.png', size: '64x64', 'data-id' => '3', 'data-am-modal-close' => true
          .am-u-sm-4= image_tag 'sticker4.png', size: '64x64', 'data-id' => '4', 'data-am-modal-close' => true
          .am-u-sm-4= image_tag 'sticker5.png', size: '64x64', 'data-id' => '5', 'data-am-modal-close' => true
          .am-u-sm-4= image_tag 'sticker6.png', size: '64x64', 'data-id' => '6', 'data-am-modal-close' => true
          .am-u-sm-4= image_tag 'sticker7.png', size: '64x64', 'data-id' => '7', 'data-am-modal-close' => true
          .am-u-sm-4= image_tag 'sticker8.png', size: '64x64', 'data-id' => '8', 'data-am-modal-close' => true
          .am-u-sm-4= image_tag 'sticker9.png', size: '64x64', 'data-id' => '9', 'data-am-modal-close' => true

:coffee
  wx.ready -> wx.hideOptionMenu();
